.card {
  position: relative;

  &__link {
    &_img {
      margin-bottom: 12px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 12px;
    border-radius: 16px;

    @media (min-width: 820px) {
      margin-bottom: 16px;
    }
  }

  &__

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
  }

  &__price {
    margin-bottom: 12px;
    font-size: 16px;
  }

  &__btn {
    width: 100%;
    padding: 12px 24px;
    color: #780096;
    border-radius: 32px;
    border: 1px solid #780096;
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
