.card {
  position: relative;
  display: grid;

  @media (min-width: 580px) {
    grid-template-areas: 
    'img img'
    ''
    
    ;
    
  }

  &__link {

  }

  &__img {

  }

  &__title {

  }

  &__price {

  }

  &__btn {

  }

  &__favorite {

  }
}
