.catalog {
  overflow-x: hidden;
  padding-top: 24px;

  @media (min-width: 1120px) {
    padd
  }

  &__container {
    padding: 0;

    @media (min-width: 1120px) {

    }

  }

  &__list {

  }

  &__link {

  }
}