.goods {
  padding-top: 24px;

  @media (min-width: 580px) {
    padding-top: 32px;
  }

  @media (min-width: 820px) {
    padding-top: 40px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;

    @media (min-width: 580px) {
      margin-bottom: 32px;
      font-size: 32px;
    }

    @media (min-width: 820px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: grid;
    gap: 50px 8px;
    grid-template-columns: repeat(auto-fit, minmax(140px,  1fr));

    @media (min-width: 580px) {
      grid-template-columns: repeat(auto-fit, minmax(230px,  1fr));
    }

    @media (min-width: 820px) {
      grid-template-columns: repeat(auto-fit, minmax(140px,  1fr));
    }
  }

  &__item {

  }

  &__card {

  }
}