.goods {
  padding-top: 24px;

  @media (min-width: 580px) {
    padding-top: 32px;
  }

  @media (min-width: 820px) {
    padding-top: 40px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;

    @media (min-width: 820px) {
      padding-top: 40px;
    }
  }

  &__list {

  }

  &__item {

  }

  &__card {

  }
}