.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEFF2;

  &__container {
    display: grid;
    gap: 16px;
    justify-content: space-between;
    grid-template-areas: 
    'logo control'
    'search search';

    @media (min-width: 820px) {
      grid-template-areas:
      'logo search control';
      grid-template-columns: 94px 1fr auto;
      align-items: center;
    }
  }

  &__link-logo {
    grid-area: logo;
    width: 94px;
  }

  

  &__search {
    grid-area: search;
  }

  &__control {
    grid-area: control;
  }
}