.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEFF2;

  &__container {
    display: grid;
    gap: 16px;
    justify-content: space-between;
    grid-template-areas: 
    'logo control'
    'search search';

    @media (min-width: 820px) {
      grid-template-areas:
      'logo search control';
    }
  }

  &__link-logo {
    grid-area: logo;
  }

  &__search {
    grid-area: search;
  }

  &__container
}